@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* border: 1px solid red */
  }
  p {
    @apply text-base font-medium;
  }
  h2 {
    @apply text-xl lg:text-2xl font-satoshi font-extrabold;
  }
  h3 {
    @apply text-lg font-extrabold;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer utilities {
  .section-padding {
    @apply px-[5%] md:px-[3%] pt-20 md:pt-[8%];
  }
}
